<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable =no,viewport-fit=cover,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="./css/media.css?date=201812030947">
    <link rel="stylesheet" href="./css/drawPrize.css">
    <link rel="stylesheet" href="./css/transition.css">
    <link rel="stylesheet" href="./css/error.css">
    <link rel="stylesheet" href="./css/index.css?date=201812030947">
    <link rel="stylesheet" href="./css/footer.css?date=201812030947">
    <link rel="stylesheet" href="./css/tc.css?date=201812030947">
    <script src="./js/zepto.min.js"></script>
    <script src="./js/global.js"></script>
    <script src="./js/tools.js"></script>
    <title>开门红·抢百万豪礼</title>
</head>

<body>
    <div id="main">
        <div id="drawLottery">
            <div id="openWeChatService">开通“凯励程微信服务”, 抽中微信红包自动发放哦~</div>

            <div class="display-prize">
                <img class="d-p-img" src="./img/top-prize.png" alt="no">
                <div class="d-p-notice"></div>
            </div>

            <div class="draw-action">
                <div class="scroll-top">
                    <img src="./img/scroll.png" alt="no">
                    <h2>您还有<span id="chanceCount">0</span>次抽奖机会</h2>
                </div>
                <div class="center-content">
                    <div id="countDownPart" class="d-a-count-down">
                        <h2>抽奖倒计时</h2>
                        <div id="countDown" class="d-a-time">
                            <span class="s0"><em></em></span><span class="s1"></span><b class="b1"></b>
                            <span class="s2"></span><span class="s3"></span><b class="b2"></b>
                            <span class="s4"></span><span class="s5"></span><b class="b3"></b>
                            <span class="s6"></span><span class="s7"></span><b class="b4"></b>
                        </div>
                        <p>100%中奖，iphone xs、科沃斯扫地拖地机器人、美菱电烧烤火锅一体炉、微信红包、京东E卡，多种礼品等你拿，记得来哦~</p>
                    </div>
                    <div id="drawPrizePart" class="draw-prize">
                        <ul class="d-a-options" id="daOptions">
                            <li data="1" class="d-a-o-1"></li>
                            <li data="2" class="d-a-o-2"></li>
                            <li data="3" class="d-a-o-3"></li>
                        </ul>
                    </div>
                    <div id="winPrise" class="win-prise">
                        <div><img id="winPImg" src="./img/popup/iPhone.png" alt="no"></div>
                        <p>恭喜您！抽中“iPhone xs 1台”</p>
                    </div>
                </div>
                <div class="scroll-top"><img src="./img/scroll.png" alt="no"></div>
            </div>
        </div>

        <div class="check-my-prize">
            <button id="checkMyPrize" type="button" onclick="showPrize()"></button>
        </div>

        <!-- 中奖快报 -->
        <div class="win-prize-user table-common">
            <h1 class="tit-common">中奖快报</h1>
            <div class="bg-img-top"></div>
            <div class="bg-img-c">
                <div class="th">
                    <div class="tit-s">车主</div>
                    <div class="tit-s t-s-l">奖品</div>
                </div>
                <div class="roll-box">
                    <ul id="roll"></ul>
                </div>
            </div>
            <div class="bg-img-bottom"></div>
        </div>

        <!-- 活动规则 -->
        <div class="activity-rules table-common">
            <h1 class="tit-common">活动规则</h1>

            <div class="activity-time">
                <div class="bg-img-top"></div>
                <div class="bg-img-c">
                    <div class="tit-s">活动时间</div>
                    <div><span>第一轮抽奖：</span><span>2019年1月9日</span></div>
                    <div><span>第二轮抽奖：</span><span>2019年2月4日</span></div>
                </div>
                <div class="bg-img-bottom"></div>
            </div>

            <div class="prize-setting">
                <div class="bg-img-top"></div>
                <div class="bg-img-c">
                    <div class="tit-s">奖项设置</div>
                    <div>本次活动共设有5类奖项，对应奖品分别为（所有奖品以收到的实物为准）：</div>
                    <table class="prize-table">
                        <thead>
                            <tr class="p-t-h"><td>奖项</td><td>奖品</td><td>数量</td></tr>
                        </thead>
                        <tbody>
                            <tr><td>一等奖</td><td>iphone xs 1台</td><td>2名</td></tr>
                            <tr><td>二等奖</td><td>科沃斯扫地拖地一体机器人1台</td><td>10名</td></tr>
                            <tr><td>三等奖</td><td>美菱电烧烤火锅一体炉1台</td><td>20名</td></tr>
                            <tr><td>凯门大吉奖</td><td>50元京东电子卡1张</td><td>100名</td></tr>
                            <tr><td>全民狂欢奖</td><td>微信红包（最高98元）</td><td>不限</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="bg-img-bottom"></div>
            </div>

            <div class="rule-description">
                <div class="bg-img-top"></div>
                <div class="bg-img-c">
                    <div class="tit-s">活动说明</div>
                    <div class="des-txt">
                        <p>1、1月9日抽中的奖品将于1月15日前发放；2月4日抽中的奖品将于2月15日前发放。领取方式如下：</p>
                        <p>实物奖品：获奖者持本人身份证到购车的4S店领取；</p>
                        <p>京东电子卡：由凯励程微信小助手(18111638231)联系获奖者进行发放；</p>
                        <p>微信红包奖：红包将在中奖1小时后发送到凯励程公众号(iklicen)，去开通“凯励程微信服务”绑定公众号，接收车辆提醒，不错过红包;</p>

                        <p>2、抽中奖品后进行分享，有机会得额外福利奖--新春狂欢大礼包或凯励程车联网服务延期1个月。领取方式如下：</p>
                        <p>新春狂欢大礼包：获奖者持本人身份证到购车的4S店与实物奖品一起领取；</p>
                        <p>凯励程车联网服务延期1个月：系统将统一在2月15日前自动延长车联网服务时间，届时您可在“我的-靓车管理”中进行查询；</p>
                        
                        <p>3、凡在2018年12月3日-2018年12月31日，新注册凯励程APP或续约凯励程保障服务，且保障服务在有效期内的用户，均可参与第一轮抽奖；</p>
                        <p>在2019年1月1日-2019年2月3日，新注册凯励程APP或续约凯励程保障服务，且保障服务在有效期内的用户，均可参与第二轮抽奖；</p>
                        <p>如保障服务已过期，或有整车被盗赔付、过户、退保等情况，则需续约或重新购买保障后方可参与抽奖；</p>

                        <p>4、第一轮有资格抽奖，但因各种原因未能进行抽奖的用户，可以在2月4日参加第二轮抽奖。每人只有1次抽奖机会，100%中奖。</p>

                        <p>5、已参与抽奖并中奖的用户，若领奖时，保障服务已到期，或有整车被盗赔付、过户、退保等情况，则需续约或重新购买保障后方可领奖；</p>
                        <p class="last-p">6.如针对活动有任何疑问，可联系 凯励程客服(952149)，提供您注册凯励程的手机号进行咨询。2019年3月31日前未领奖的用户视为自动放弃奖品。</p>
                    </div>
                </div>
                <div class="bg-img-bottom"></div>
            </div>
        </div>

        <div class="footer">
            <div><img src="./img/company-logo.png" alt="no"></div>
            <div>成都路行通信息技术有限公司拥有在法律范围内对本次活动的解释权</div>
        </div>

        <!--弹窗-我的奖品-->
        <div class="popup-wrapper animated zoomIn" id="myPrise">
            <p class="popup-title">我的奖品</p>
            <div class="popup-content corner-decoration">
                <i></i><i></i><i></i><i></i>
                <p class="popup-content__title">全民狂欢奖</p>
                <p class="popup-content__detail">微信红包 ¥2.88</p>
            </div>
            <p class="popup-extra">您还有<span class="content-color__red">“车联网服务延期1个月”</span>的额外福利待领取哦></p>
            <p class="popup-tips">领取方式：去<span class="tips-color">开通“凯励程微信服务”</span>接收公众号红包</p>
            <div class="popup-btn__close" onclick="closeMyPrize()"></div>
        </div>

        <!--弹窗-中奖啦-->
        <div class="surprise-wrapper animated zoomIn" id="surprise">
            <div class="icon-wrapper">
                <div class="price-img" id="prizeImg"></div>
            </div>
            <p class="surprise-title">运气爆棚啦</p>
            <p class="surprise-title__sub">恭喜您抽中“<span id="awards">凯门大吉奖</span>”！获得：</p>
            <p class="surprise-prise">50元京东电子卡  1张</p>
            <div class="surprise-redpacket__is_focused">
                <p class="surprise-redpacket__tips_time">红包将在1小时后发出</p>
                <div class="surprise-redpacket__tips_wechat">
                    <p class="surprise-redpacket__tips_wechat_info">红包将发至微信：
                        <img class="surprise-redpacket__tips_avatar" src="https://wx.qlogo.cn/mmopen/vi_32/4uuCiaibGOLhvfa0Ubiapbt01CY12CtKJdnGetLN25PG4obBz4S2QPPpMfZliaZAuaficubWyiakSrgFDnTcPXZ8lr7Q/132"/>
                        <span class="surprise-redpacket__tips_nickname">frank</span>
                    </p>
                    <p class="surprise-redpacket__tips_wechat_opera">不是我的微信？去<span>重新绑定></span></p>
                </div>
            </div>
            <div class="surprise-btns__wrapper">
                <div class="surprise-btn surprise-btn__cancel" onclick="closePrize()">放弃额外奖品</div>
                <div class="surprise-btn surprise-btn__confirm">去分享</div>
            </div>
            <p class="surprise-tips">分享好运，再得“<span id="otherBenefits"></span>”</p>
        </div>
    </div>
    <!--弹窗的mask-->
    <div class="wmask" id="wmask"></div>

    <div id="loading" class="loading"><div></div></div>

    <div id="transitionAction" class="transition-action">
        <div class="door"><img src="./img/transition/door.png" alt=""></div>
        <div class="gift"><img src="./img/transition/gift.png" alt=""></div>
        <div class="cloud"><img src="./img/transition/cloud.png" alt=""></div>
    </div>
    <div class="mask"></div>
    <script src="./js/tc.js?date=201812030907"></script>
    <script src="./js/global.js?date=201812030947"></script>
    <script src="./js/api.js?date=201812030947"></script>
    <script src="./js/control.js?date=201812030947"></script>
    <script src="./js/index.js?date=201812030947"></script>
    <!--<script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>-->
    <!--<script>-->
        <!--var vConsole = new VConsole();-->
    <!--</script>-->
</body>
</html>