<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id= 'meta' name="viewport" content ="width=device-width,initial-scale=1" />
    <title>niaohde</title>

</head>
<body>
       
    <p id="test"></p>
    <div>
        kokoko         
    </div>
  
   <script>
    //     var vConsole = new VConsole();
    //    console.log(12)
    //     document.getElementById('test').innerHTML=/Android/i.test(navigator.userAgent)+'===='+window.innerWidth+22
    
    </script>
</body>
</html>
        