body{ margin: 0; user-select:none; } ul { padding: 0; } li{ list-style-type: none; } h1,h2{ margin: 0; }
i,em,a{ font-style: normal; } p{ margin: 0; } button{ outline: none } *{-webkit-tap-highlight-color: transparent;}  

.roll-box { height: 100px; background: #007acc; overflow: hidden; color: #fff; }
#roll li { height: 25px; border-bottom: 1px solid #ddd }

.loading { 
    z-index: 100;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; 
}
.loading div {
    margin: 30% auto 0;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0,0,0,.7);
}
.loading div::after {
    content: '';
    display: inline-block;
    margin-top: 12px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 3px transparent;
    border-top-color: rgb(228, 228, 228);
    border-left-color: rgb(228, 228, 228);
    border-bottom-color: rgb(228, 228, 228);
    animation: loadingAnimate .8s infinite linear;
    -webkit-animation: loadingAnimate .8s infinite linear;
}
@keyframes loadingAnimate {
    from { -webkit-transform: rotate(0deg);transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg);transform: rotate(360deg) }
}

.transition-action {
    z-index: 90;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    /* animation: transitionAction 1s 2s;
    -webkit-animation: transitionAction 1s 2s; */
}
/* @keyframes transitionAction {
    from { opacity: 1 }
    to { opacity: 0 }
} */

#losePage {
    text-align: center
}

.activity-offline div {
    margin: 10% 0;
    min-height: 200px;
    text-align: center;
}
.activity-offline img {
    width: 80%;
}
.activity-offline p {
    margin: 20px 0;
    text-align: center;
}

#transitionPage{
    display: none;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 1s;  
}

#openWeChatService{
    display: none;
}

#drawLottery{
    /* opacity: 0; */
    -webkit-transition: opacity 0 1s;  
}

.display-prize{
    position: relative;
}
.d-p-img{
    width: 100%
}
.d-p-notice{
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
}
.d-p-prize-end{
    background-color: orange;
}

.check-my-prize{
    display: none
}

.draw-action {
    position: relative;
    text-align: center;
}
.d-a-cover p{
    color: orange;
}
.d-a-cover{
    display: none;
    z-index: 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(225, 225, 225, 0.9);
}
.d-a-time{
    height: 30px;
    line-height: 30px
}
.d-a-options{
    display: flex;
    background-color: yellow;
}
.d-a-options li{
    margin: 5px;
    flex-grow: 1;
    background-color: pink;
}
