@media screen and (min-width: 414px) {
    #roll div:last-child { margin-left: 110px !important; }
    .th div:last-child { margin-left: 110px !important; }
}

@media screen and (max-width: 375px) {
   
}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {
    #openWeChatService{ letter-spacing: 0px!important;}
    .p-t-b-l{ text-indent: 8px!important;}
    .bg-img-c{ padding: 20px !important;}
    .table-common{ margin: 10px 10px !important; }

    .d-a-count-down .d-a-time { width: 270px }
    .d-a-count-down .d-a-time span {width: 22px;}
    .d-a-count-down .d-a-time b { width: 15px; background-size: 80px;background-position-y: 12px;} 
    .d-a-time b.b1 { background-position-x: -4px; }
    .d-a-time b.b2 { background-position-x: -23px; }
    .d-a-time b.b3 { background-position-x: -42px; }
    .d-a-time b.b4 { background-position-x: -62px; }

    .draw-prize .d-a-options{ width: 280px; }
}